.page-body {
  padding: 50px 0 50px;
}

.page-title {
  padding: 0 50px;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #888;
}
